<nav class="yoda-nav">
    <NavLink class="yoda-tab" href="" Match="NavLinkMatch.All">Chat</NavLink>
    <NavLink class="yoda-tab" href="verbose">Verbose</NavLink>
    <NavLink class="yoda-tab" href="train">Train</NavLink>
</nav>
